---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find a list of my publications on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<script type='text/javascript' src='https://d1bxh8uas1mnw7.cloudfront.net/assets/embed.js'></script>

<h2><strong>Science communication</strong></h2>

<p><div class="altmetric-embed" style="float: right;" data-badge-popover="right" data-badge-type="donut" data-doi="10.5194/gc-5-83-2022" data-hide-no-mentions="true"></div>[18] <strong>Westaway, RM</strong> (2022). GC Insights: Rainbow colour maps remain widely used in the geosciences, Geoscience Communication 5(1), 83–86, <a href="https://doi.org/10.5194/gc-5-83-2022" target="_blank" rel="noopener">10.5194/gc-5-83-2022</a><em> <img class="alignnone  wp-image-369" src="https://richardwestaway.files.wordpress.com/2017/10/open-access-logo-200x2002.png" alt="open-access-logo-200x200" width="13" height="17" /></em></p>

<h2><strong>Spatial-temporal modelling</strong></h2>

<p>[21] Aiken, JM, Jones G, Yin, X, Abele, AK, Woods, C, <strong>Westaway, RM</strong> and Bamber, JL (2025). 4DModeller: a spatio-temporal modelling package. Journal of Open Source Software 10 (106), 7047. <a href="http://10.21105/joss.07047" target="_blank" rel="noopener">10.21105/joss.07047</a> <em><img class="alignnone  wp-image-369" src="https://richardwestaway.files.wordpress.com/2017/10/open-access-logo-200x2002.png" alt="open-access-logo-200x200" width="13" height="17" /><br /><span style="color: #95aebf;">Contribution: Writing – original draft, Methodology, Project administration, Supervision</span></em></p>

<p>[20] Rougier, J, Brady, A, Bamber, JL, Chuter, S, Royston, S, Vishwakarma, BD, <strong>Westaway, RM</strong> and Ziegler, Y (2022). The scope of the Kalman filter for spatio‐temporal applications in environmental science. Environmetrics, <a href="https://doi.org/10.1002/env.2773" target="_blank" rel="noopener">10.1002/env.2773</a><em> <img class="alignnone  wp-image-369" src="https://richardwestaway.files.wordpress.com/2017/10/open-access-logo-200x2002.png" alt="open-access-logo-200x200" width="13" height="17" /></em><br /><span style="color: #95aebf;">Contribution:<em> Writing – review &amp; editing; Project Administration</em></span></p>

<h2><strong>Global sea level budget</strong></h2>

<p>[19] Ziegler, Y, Vishwakarma, BD, Brady, A, Chuter, S, Royston, S, Rougier, J, <strong>Westaway, RM</strong> and Bamber, JL (2022). Can GPS and GRACE data be used to separate past and present-day surface loading in a data-driven approach? Geophysical Journal International, <a href="https://doi.org/10.1093/gji/ggac365" target="_blank" rel="noopener">10.1093/gji/ggac365</a><em> <img class="alignnone  wp-image-369" src="https://richardwestaway.files.wordpress.com/2017/10/open-access-logo-200x2002.png" alt="open-access-logo-200x200" width="13" height="17" /></em><br /><span style="color: #95aebf;">Contribution:<em> Writing – review &amp; editing; Project Administration</em></span></p>

<p>[17] Vishwakarma, BD, Bates, P, Sneeuw, N, <strong>Westaway, RM</strong> and Bamber, JL (2021). Re-assessing global water storage trends from GRACE time series. Environmental Research Letters, <a href="https://doi.org/10.1088/1748-9326/abd4a9" target="_blank" rel="noopener">10.1088/1748-9326/abd4a9</a><em> <img class="alignnone  wp-image-369" src="https://richardwestaway.files.wordpress.com/2017/10/open-access-logo-200x2002.png" alt="open-access-logo-200x200" width="13" height="17" /></em><br /><span style="color: #95aebf;">Contribution:<em> Writing – review &amp; editing; Visualisation; Project Administration</em></span></p>

<p>[16] Vishwakarma, BD, Bates, P, Sneeuw, N, <strong>Westaway, RM</strong> and Bamber, JL (2020). Sea level budgets should account for ocean bottom deformation. Geophysical Research Letters, 47, e2019GL086492 <a href="https://doi.org/10.1029/2019GL086492" target="_blank" rel="noopener">10.1029/2019GL086492</a><em> <img class="alignnone  wp-image-369" src="https://richardwestaway.files.wordpress.com/2017/10/open-access-logo-200x2002.png" alt="open-access-logo-200x200" width="13" height="17" /></em><br /><span style="color: #95aebf;">Contribution:<em> Writing – review &amp; editing; Project Administration</em></span></p>

<p>[15] Royston, S, Vishwakarma, BD, <strong>Westaway, RM</strong>, Rougier, J, Sha, Z and Bamber, JL (2020). Can we resolve the basin-scale sea-level trend budget from GRACE ocean mass? Journal of Geophysical Research: Oceans 125. <a href="https://doi.org/10.1029/2019JC015535" target="_blank" rel="noopener noreferrer">10.1029/2019JC015535</a><em> <img class="alignnone  wp-image-369" src="https://richardwestaway.files.wordpress.com/2017/10/open-access-logo-200x2002.png" alt="open-access-logo-200x200" width="13" height="17" /></em><br /><span style="color: #95aebf;">Contribution:<em> Writing – review &amp; editing; Project Administration</em></span></p>

<p>[14] The WCRP Global Sea Level Budget Group (2018). Global Sea Level Budget 1993-Present. <em>Earth System Science Data</em> <a href="https://doi.org/10.5194/essd-10-1551-2018" target="_blank" rel="noopener">10.5194/essd-2018-53</a><em> <img class="alignnone  wp-image-369" src="https://richardwestaway.files.wordpress.com/2017/10/open-access-logo-200x2002.png" alt="open-access-logo-200x200" width="13" height="17" /></em><br /><span style="color: #95aebf;">Contribution:<em> Formal analysis; Visualisation; Writing – original draft</em></span></p>

<p>[13] Bamber, J, <strong>Westaway, RM</strong>, Marzeion, B &amp; Wouters, B (2018). The land ice contribution to sea level during the satellite era. <em>Environmental Research Letters</em> <a href="https://doi.org/10.1088/1748-9326/aac2f0" target="_blank" rel="noopener">10.1088/1748-9326/aac2f0</a> <img class="alignnone  wp-image-369" src="https://richardwestaway.files.wordpress.com/2017/10/open-access-logo-200x2002.png" alt="open-access-logo-200x200" width="13" height="17" /><br /><span style="color: #95aebf;">Contribution:<em> Formal analysis; Investigation; Visualisation; Writing – review &amp; editing; Project Administration</em></span></p>
<hr />

<h2><strong>Corporate sustainability and carbon accounting</strong></h2>

<p>[12] Klee, H, Hunziker, R, van der Meer, R &amp; <strong>Westaway, RM</strong> (2011). Getting the numbers right: a database of energy performance and carbon dioxide emissions for the cement industry. <i>Greenhouse Gas Measurement &amp; Management</i>, <i>1</i>(2), 109-118. <a href="https://doi.org/10.1080/20430779.2011.579357" target="_blank" rel="noopener">10.1080/20430779.2011.579357</a><br /><span style="color: #95aebf;">Contribution: <em>Visualisation; Writing – original draft; Writing – review &amp; editing</em></span></p>
<hr />

<h2><strong>Climate change impacts and adaptation</strong></h2>

<p>[11] Preston, BL, Yuen, EJ &amp; <strong>Westaway, RM</strong> (2011). Putting vulnerability to climate change on the map: a review of approaches, benefits, and risks. <i>Sustainability Science</i>, <i>6</i>(2), 177-202. <a href="http://dx.doi.org/10.1007/s11625-011-0129-1" target="_blank" rel="noopener"> 10.1007/s11625-011-0129-1</a><br /><span style="color: #95aebf;">Contribution: <em>Formal analysis; </em><em>Investigation; Methodology; Writing – review &amp; editing</em></span></p>

<p>[10] Preston, BL, <strong>Westaway, RM</strong> &amp; Yuen, EJ (2010). Climate adaptation planning in practice: an evaluation of adaptation plans from three developed nations. <i>Mitigation and Adaptation Strategies for Global Change</i>, <i>16</i>(4), 407-438. <a href="http://dx.doi.org/10.1007/s11027-010-9270-x" target="_blank" rel="noopener">10.1007/s11027-010-9270-x</a><br /><span style="color: #95aebf;">Contribution:<em> Formal analysis; Investigation; Methodology; Writing – review &amp; editing</em></span></p>

<p>[9] Gawith, M, Street, R, <strong>Westaway, RM</strong> &amp; Steynor, A. (2009). Application of the UKCIP02 climate change scenarios: reflections and lessons learnt. <i>Global Environmental Change</i>, <i>19</i>(1), 113-121. <a href="http://dx.doi.org/10.1016/j.gloenvcha.2008.09.005" target="_blank" rel="noopener">10.1016/j.gloenvcha.2008.09.005</a><br /><span style="color: #95aebf;">Contribution:<em> Formal analysis; Investigation; Methodology; Writing – original draft</em></span></p>

<p>[2]<strong> Westaway, RM</strong> (2000). Modelling the Potential Effects of Climate Change on the Grande Dixence Hydro‐Electricity Scheme, Switzerland. <em>Water and Environment Journal</em>, 14(3), 179-185. <a href="http://dx.doi.org/10.1111/j.1747-6593.2000.tb00247.x" target="_blank" rel="noopener">10.1111/j.1747-6593.2000.tb00247.x</a></p>
<hr />

<h2><strong>Remote sensing of gravel-bed rivers</strong></h2>

<p>[8] Hicks, DM, Duncan, MJ, Lane, SN, Tal, M &amp; <strong>Westaway, RM</strong> (2007). Contemporary morphological change in braided gravel-bed rivers: new developments from field and laboratory studies, with particular reference to the influence of riparian vegetation (pp. 557-584). Chapter 21 in <em>Gravel-Bed Rivers VI: From Process Understanding to River Restoration </em>(Habersack, Piégay and Rinaldi, eds.), Developments in Earth Surface Processes 11, Elsevier: Amsterdam, the Netherlands. <a href="https://doi.org/10.1016/S0928-2025(07)11143-3" target="_blank" rel="noopener">10.1016/S0928-2025(07)11143-3</a><br /><span style="color: #95aebf;">Contribution: <em>Formal analysis; </em><em>Investigation; Methodology; Visualisation</em></span></p>

<p>[7] Lane, SN, Reid, SC, <strong>Westaway, RM</strong> &amp; Hicks, DM (2004). Remotely sensed topographic data for river channel research: the identification, explanation and management of error (pp. 113-136). Chapter 6 in <em>Spatial Modelling of the Terrestrial Environment</em> (Kelly, Drake and Barr, eds.), John Wiley &amp; Sons, Ltd: West Sussex, UK. <a href="http://dx.doi.org/10.1002/0470094001.ch6" target="_blank" rel="noopener">10.1002/0470094001.ch6</a><br /><span style="color: #95aebf;">Contribution:<em> Formal analysis; Investigation; Methodology; Writing – original draft; Visualisation</em></span></p>

<p>[6]<strong> Westaway, RM</strong>, Lane, SN &amp; Hicks, DM (2003). Remote survey of large-scale braided, gravel-bed rivers using digital photogrammetry and image analysis. <i>International Journal of Remote Sensing</i>, <i>24</i>(4), 795-815. <a href="http://dx.doi.org/10.1080/01431160110113070" target="_blank" rel="noopener">10.1080/01431160110113070</a><br /><span style="color: #95aebf;">Contribution:<em> Formal analysis; Investigation; Methodology; Writing – original draft; Writing – review &amp; editing; Visualisation</em></span></p>

<p>[5] Lane, SN,<strong> Westaway, RM</strong> &amp; Hicks, DM (2003). Estimation of erosion and deposition volumes in a large, gravel‐bed, braided river using synoptic remote sensing. <i>Earth Surface Processes and Landforms</i>, <i>28</i>(3), 249-271. <a href="http://dx.doi.org/10.1002/esp.483" target="_blank" rel="noopener">10.1002/esp.483</a><br /><span style="color: #95aebf;">Contribution:<em> Formal analysis; Investigation; Methodology; Writing – original draft; Visualisation</em></span></p>

<p>[4] Hicks, DM, Duncan, MJ, Walsh, JM, <strong>Westaway, RM</strong> &amp; Lane, SN (2002). New views of the morphodynamics of large braided rivers from high-resolution topographic surveys and time-lapse video (pp. 373-380). In <em>Structure, Function and Management Implications of Fluvial Sedimentary Systems</em> (Dyer, FJ, Thoms, MC and Olley, JM, eds.), Proceedings of an International Symposium, Alice Springs, Australia, International Association of Hydrological Sciences Publication 276, IAHS Press: Wallingford, UK. <a href="http://hydrologie.org/redbooks/a276/iahs_276_373.pdf" target="_blank" rel="noopener">Open Access</a> <img class="alignnone  wp-image-369" src="https://richardwestaway.files.wordpress.com/2017/10/open-access-logo-200x2002.png" alt="open-access-logo-200x200" width="13" height="17" /><br /><span style="color: #95aebf;">Contribution:<em> Formal analysis; Investigation; Methodology; Visualisation</em></span></p>

<p>[3]<strong> Westaway, RM</strong>, Lane, SN &amp; Hicks, DM (2001). Remote sensing of clear-water, shallow, gravel-bed rivers using digital photogrammetry. <i>Photogrammetric Engineering and Remote Sensing</i>, <i>67</i>(11), 1271-1281. <a href="http://asprs.org/wp-content/uploads/pers/2001journal/november/2001_nov_1271-1281.pdf" target="_blank" rel="noopener">Open Access</a> <img class="alignnone  wp-image-369" src="https://richardwestaway.files.wordpress.com/2017/10/open-access-logo-200x2002.png" alt="open-access-logo-200x200" width="13" height="17" /><br /><span style="color: #95aebf;">Contribution:<em> Formal analysis; Investigation; Methodology; Writing – original draft; Writing – review &amp; editing; Visualisation</em></span></p>

<p>[1]<strong> Westaway, RM</strong>, Lane, SN &amp; Hicks, DM (2000). The development of an automated correction procedure for digital photogrammetry for the study of wide, shallow, gravel‐bed rivers. <i>Earth Surface Processes and Landforms</i>, <i>25</i>(2), 209-226. <a href="https://doi.org/10.1002/(SICI)1096-9837(200002)25:2%3C209::AID-ESP84%3E3.0.CO;2-Z" target="_blank" rel="noopener">10.1002/(SICI)1096-9837(200002)25:23.0.CO;2-Z<br /></a><span style="color: #95aebf;">Contribution:<em> Formal analysis; Investigation; Methodology; Writing – original draft; Writing – review &amp; editing; Visualisation</em></span></p>
<div class="altmetric-embed"> </div>









<!-- New style rendering if publication categories are defined --> 
<!-- 
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}
-->



